<section class="px-4 flex justify-center mt-8">
  <div class="py-8 px-4 mx-auto max-w-screen-xl">
    <div class="flex justify-between items-center">
      <h2 class="mb-0 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-200">
        Available soon.
      </h2>

      <p-button (click)="toGithubWingfit()" label="Github" icon="pi pi-github" text severity="secondary" />
    </div>

    <p class="mt-4 font-light text-gray-500 sm:text-xl">
      This section is part on the Wingfit's Roadmap and will be available
      soon<sup>TM</sup>.
    </p>
  </div>
</section>