<div class="max-w-7xl mx-auto px-4 md:px-0 m-4">
  <p-card>
    <div class="p-4">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-200">Users</h1>
        <div class="flex items-center gap-2">
          <p-button icon="pi pi-user-plus" (click)="op.toggle($event)" text />
        </div>
      </div>

      <div class="py-2 mt-2">
        <p-table [value]="users" stripedRows [lazy]="true">
          <ng-template pTemplate="header">
            <tr>
              <th>Username</th>
              <th class="text-center!">API Token</th>
              <th class="text-center!">MFA</th>
              <th class="text-center!">Active</th>
              <th class="text-center!">Role</th>
              <th class="text-center!">Last connect</th>
              <th class="text-end!">Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-user>
            <tr>
              <td><span class="block max-w-40 truncate">{{ user.username }}</span></td>
              <td class="w-32">
                @if (user.api_token) {
                <div
                  class="bg-green-100 mt-0.5 text-green-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-green-700 dark:text-green-300">
                  active</div>
                } @else {
                <div
                  class="bg-gray-100 mt-0.5 text-gray-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-gray-700 dark:text-gray-300">
                  inactive</div>
                }
              </td>
              <td class="w-32">
                @if (user.mfa_enabled) {
                <div
                  class="bg-green-100 mt-0.5 text-green-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-green-700 dark:text-green-300">
                  active</div>
                } @else {
                <div
                  class="bg-gray-100 mt-0.5 text-gray-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-gray-700 dark:text-gray-300">
                  inactive</div>
                }
              </td>
              <td class="w-32">
                @if (user.is_active) {
                <div
                  class="bg-green-100 mt-0.5 text-green-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-green-700 dark:text-green-300">
                  active</div>
                } @else {
                <div
                  class="bg-gray-100 mt-0.5 text-gray-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-gray-700 dark:text-gray-300">
                  inactive</div>
                }
              </td>
              <td class="w-32">
                @if (user.is_su) {
                <div
                  class="bg-red-100 mt-0.5 text-red-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-red-700 dark:text-red-300">
                  admin</div>
                } @else {
                <div
                  class="bg-gray-100 mt-0.5 text-gray-800 text-xs text-center px-2.5 py-1 rounded-sm dark:bg-gray-700 dark:text-gray-300">
                  user</div>
                }
              </td>
              <td class="text-center! truncate"><span>{{ user.last_connect | date: 'MMM d, y, HH:mm' }}</span></td>
              <td class="flex justify-end space-x-2 items-center">
                @defer () {
                @if (hasMFA) {
                <p-button text type="button" severity="danger" icon="pi pi-key" (click)="resetPassword(user)"
                  [disabled]="user.is_su" pTooltip="Reset User password" />
                <p-button text type="button" [severity]="user.is_active ? 'danger' : 'success'"
                  [pTooltip]="user.is_active ? 'Disable User' : 'Enable User'" [disabled]="user.is_su"
                  [icon]="user.is_active ? 'pi pi-times' : 'pi pi-check'" (click)="toggleActive(user)" />
                <p-button text type="button" [disabled]="user.is_su || !user.mfa_enabled" severity="danger"
                  icon="pi pi-shield" (click)="remove2FA(user)" pTooltip="Remover User 2FA" />
                <p-button text type="button" severity="danger" icon="pi pi-trash" (click)="deleteUser(user)"
                  [disabled]="user.is_su" pTooltip="Delete User" />
                } @else {
                <span class="text-red-500">MFA not enabled</span>
                }
                } @placeholder (minimum 0.4s) {
                <p-skeleton width="170px" height="32px" />
                }
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>

<div class="max-w-7xl mx-auto px-4 md:px-0 m-4">
  <p-card>
    <div class="p-4">
      <h1 class="text-2xl font-bold text-gray-900 dark:text-gray-200">Data</h1>
      <p class="mt-4 text-gray-600 dark:text-gray-400">
        Users can export their data. This panel allows you to fully export Wingfit's data, as well as restore a complete
        or partial backup.
      </p>

      <div class="pt-4 mx-auto max-w-80 flex justify-between">
        <p-button icon="pi pi-database" text severity="info" (click)="exportData()" label="Full Export" />
        <p-button icon="pi pi-database" text severity="help" (click)="fileUpload.click()" label="Restore data" />
        <input type="file" class="file-input" style="display: none" (change)="onRestoreFileSelected($event)"
          #fileUpload />
      </div>
    </div>
  </p-card>
</div>

<p-popover #op>
  <div class="flex flex-col gap-4" [formGroup]="addUserForm">
    <p-floatlabel variant="in">
      <input id="username" formControlName="username" pInputText />
      <label for="username">Username</label>
    </p-floatlabel>

    <p-button text class="text-center" label="Create" [disabled]="!addUserForm.valid"
      (click)="addUser(); op.toggle($event)" />
  </div>
</p-popover>