<section pFocusTrap class="min-w-md">
  <div class="grid gap-2" [formGroup]="pwForm">
    <p-floatlabel variant="in" class="w-full">
      <input id="current" formControlName="current" pInputText type="password" class="w-full" />
      <label for="current">Current</label>
    </p-floatlabel>

    <p-floatlabel variant="in" class="w-full mt-4">
      <input id="new" formControlName="new" pInputText type="password" class="w-full" />
      <label for="new">New password</label>
    </p-floatlabel>

    <p-floatlabel variant="in" class="w-full">
      <input id="new_verify" formControlName="new_verify" pInputText type="password" class="w-full" />
      <label for="new_verify">Type again</label>
    </p-floatlabel>
  </div>

  <div class="mt-4 text-right">
    <p-button (click)="closeDialog()" [disabled]="!pwForm.dirty || !pwForm.valid
      || !(pwForm.get('new')?.value === pwForm.get('new_verify')?.value)
      || (pwForm.get('current')?.value === pwForm.get('new')?.value)">Update</p-button>
  </div>
</section>